/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #cad7cd;
  }
  
  header {
    background-color: #acc2b2;
    color: #0a090a;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin-bottom: 0.50rem;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    color: #0a0a0a;
    text-decoration: none;
  }
  
  .container {
    

    justify-content: flex-start;
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  section {
    padding: 4rem 0;
    
  }
  
  section h2 {
    margin-bottom: 1rem;
  }
  
  section ul {
    list-style: none;
  }
  
  footer {
    background-color: #13cf77;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }

   